*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom  Properties*/

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary; 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

}
/*General styles */

body {
  background: white;
  color:grey;
  margin: 0;
  font-family:sans-serif;
  font-size:body;
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;

}
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}
h1 {
  font-size:
}
h2{
  font-size:
}
h3 {
  font-size:
}
